:root {
  --font-serif: "Libre Caslon Text", Georgia, serif;
  --font-sans: "Josefin Sans", Futura, Tahoma, sans-serif;
  --text-large: 48px;
  --text-medium: 24px;
  --text-small: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans, sans-serif);
  text-transform: uppercase;
}

body {
  font-family: var(--font-serif, serif);
  font-size: var(--text-medium, 24px);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header-container {
  max-width: 600px;
  margin: 2.25rem auto 0;
}

.text-container {
  text-transform: uppercase;
  font-family: var(--font-sans);
  font-size: var(--text-large);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 4px 1fr 4px 12px;
}

.bar {
  background: #b2b0a0;
  height: 2px;
  display: flex;
  grid-column: 1 / -1;
}

.bar--1 {
  grid-row: 1 / 2;
}

.bar--2 {
  grid-row: 2 / 3;
}

.bar--3 {
  grid-row: 3 / 4;
}

.bar--4 {
  grid-row: 4 / 5;
}

.bar--5 {
  grid-row: 5 / 6;
}

.vertical-bar {
  grid-row: 1 / -1;
  background: #b2b0a0;
  width: 4px;
}

.vertical-bar--left {
  grid-column: 1;
}

.vertical-bar--right {
  grid-column: -1;
  width: 12px;
  grid-row: 1 / 6;
}

.vertical-bar--accent {
  grid-column: 3 / 4;
  width: 4px;
}

.text {
  grid-row: 1/-1;
  grid-column: 1 / -1;
  padding: 2rem 3rem;
  z-index: 1;
  position: relative;
  top: 7px;
}

.profile-image-container {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow:hidden;
  margin: 2.25rem auto 3rem;
}

.profile-image-container img {
  width: inherit;
  height: inherit;
  object-fit: contain;
}

.header-description {
  font-family: var(--font-serif);
  font-size: var(--text-small);
  max-width: 550px;
}
